#glee {
    background-color: rgb(19, 181, 19) ;
}
#home {
    background-color: cadetblue;
}
#minds {
    background-color: crimson;
}
#golden {
    background-color: rgb(179, 148, 179);
}
footer {
    background-color: lch(73.02% 34.65 223.64);
    border: sloid;
}

h1 {
    text-align: center;
}
div {
    width:100%;
    margin:auto;
    text-align: center; 
}
nav {
    background-color: teal ;
    border: solid;
    border-color: black;
}
nav li:hover {
    background-color: rgb(36, 215, 147);
}
nav ul {
    padding-left:0; /*removes indignation*/
}
nav li {
    list-style-type: none; /*removes bullet points*/
    display: block;
    padding:10px;
}
nav a {
    text-decoration: none; /*removes underline*/
}
.columns {
    width: 100%;
}
/*larger screens*/
@media screen and (min-width:768px) {
    .columns {
        display:flex;
    }
    .one{
        flex:1;
    }
}
